@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-name-lexend: "Lexend", sans-serif;
$font-name-montserrat: "Montserrat", sans-serif;
$font-name-roboto: "Roboto", sans-serif;
$font-name-poppins: "Poppins", sans-serif;
$font-color-grey: #444a61;
$font-color-white: aliceblue;
$font-color-grey-v2: #ded3cf;
$button-color-green: #219653;
$button-color-brown: #863307;
$button-color-green-v2: #022f15;

.landing-page {
  .signup-form {
    p {
      color: $font-color-grey;
      font-family: $font-name-poppins;
    }
    input:focus {
      outline: none;
    }

    h2 {
      font-family: $font-name-poppins;
      background: linear-gradient(268.24deg, #d25e46 19.54%, #8c2009 110.31%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .phone-field::-webkit-outer-spin-button,
    .phone-field::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .input-fields {
      background: rgba(255, 255, 255, 0.78);
      border-radius: 12px;
    }
    .captcha-field {
      background: rgba(255, 255, 255, 0.78);
      border-radius: 10px;
    }
    .captcha-box {
      background: rgba(255, 255, 255, 0.643);
      border-top-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .grey-text {
      color: $font-color-grey-v2;
    }
    .different-password {
      color: red;
      text-align: center;
      font-size: 2rem;
    }
    .different-password-hidden {
      display: none;
    }
    .different-password-block {
      display: block;
    }
    .signup-details {
      background: rgba(32, 13, 3, 0.39);
      border: 1px solid rgba(255, 255, 255, 0.26);
      box-shadow: 0px 115px 65px -40px rgba(0, 0, 0, 0.17);
      backdrop-filter: blur(10px);
      border-radius: 37px;
    }
    .continue-button {
      background: $button-color-green;
      border-radius: 12px;
      color: white;
    }

    .submit-button {
      background: $button-color-brown;
      border-radius: 10px;
      color: white;
    }
    .continue-button:hover {
      background: $button-color-green-v2;
    }
    .api-message {
      color: white;
      text-align: center;
      font-size: 2rem;
    }
  }
}
