.trip-details {
  $color-grey-v1: #b4bbc1;
  $color-orange: #bc4e37;
  $bg-orange-gradient: linear-gradient(
    241.6deg,
    #e6664c -19.43%,
    #8c2009 109.14%
  );
  $bg-orange-gradient-hover: linear-gradient(
    241.6deg,
    #bb4c36 -19.43%,
    #5e1909 109.14%
  );
  .payment-details-container {
    select {
      background-color: transparent;
    }
    button {
      background: $bg-orange-gradient;
      padding: 1rem 2rem;
      border-radius: 1rem;
    }
    button:hover {
      background: $bg-orange-gradient-hover;
    }
    .shake {
      animation: shake-box 0.1s 5;
    }
    @keyframes shake-box {
      from {
        transform: translateX(-2%);
      }
      to {
        transform: translateX(2%);
      }
    }
  }
}
