.search-result {
  .rc-slider-rail {
    height: 10px;
    background-color: #3c4049;
  }
  .rc-slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    background-color: white;
    opacity: 1;
    border: none;
  }
  .rc-slider-track {
    background-color: #bc4e37;
    height: 10px;
  }
  .trip-category-filters {
    box-shadow: inset 0rem -2rem 5rem -3rem rgba(0, 0, 0, 0.906);
    scrollbar-color: #e47a7a #e34f4f; /* Change colors as needed */
    scrollbar-width: thin;
  }
}
