@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-name-lexend: "Lexend", sans-serif;
$font-name-poppins: "Poppins", sans-serif;
$font-color-grey: #46485c;
$button-color-green: #219653;
$button-color-green-v2: #022f15;

.booking-form {
  .success-section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.362);
    backdrop-filter: blur(20px);
    z-index: 3000;
  }
  .success-box {
    box-shadow: 0px 104px 51px -62px rgba(3, 10, 19, 0.56);
    border-radius: 18px;

    h2 {
      font-family: $font-name-poppins;
      font-weight: 500;
    }

    p {
      color: $font-color-grey;
    }

    .back-button {
      background: $button-color-green;
      border-radius: 22px;
      color: white;
    }

    .back-button:hover {
      background-color: $button-color-green-v2;
    }
  }
}
