$font-color-grey: #444a61;

.account-details {
  header {
    .grey-text {
      color: $font-color-grey;
    }
    .login-details {
      background: #ffffff8b;
      p {
        background-color: rgba(255, 255, 255, 0.348);
        padding: 10px 18.75px;
        border-radius: 0.6rem;
      }
      input {
        background-color: rgba(255, 255, 255, 0.497);
        padding: 10px 18.75px;
        border-radius: 0.6rem;
      }
    }
  }
}
