.trip-details {
  header {
    padding-top: 5rem;
    h1 {
      font-weight: 800;
      color: #ffffff9a;
      font-size: 65px;
      text-align: center;
    }
    h2 {
      letter-spacing: 10px;
      text-transform: uppercase;
      background: linear-gradient(
        268.23deg,
        #444a61 0.84%,
        rgba(68, 74, 97, 0) 213.2%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    @media screen and (min-width: 640px) {
      h1 {
        font-size: 112px;
      }
    }
    @media screen and (min-width: 1024px) {
      h1 {
        font-size: 195px;
      }
    }
  }
}
