/* Navbar */

$nav-input-grey-bg: #e2e2e2;
$nav-profile-grey-bg: #dadbe0;

nav {
  z-index: 200;
  .navbar-main-logo {
    zoom: 0.5;
    margin: auto 0;
  }
  @media screen and (min-width: 768px) {
    .navbar-main-logo {
      zoom: 1;
      margin: auto 0;
    }
  }
  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background: linear-gradient(
      90deg,
      #051a25 -7.55%,
      rgba(5, 26, 37, 0.47) 54.06%,
      #051a25 115.66%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  $color-nav-li: #444a61;
  $color-nav-li-hover: #051b25;
  li {
    font-size: 16px;
  }
  .nav-lg-view {
    li {
      color: $color-nav-li;
      display: inline-block;
      position: relative;
    }
    li:hover {
      color: $color-nav-li-hover;
    }
    li::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      background-color: $color-nav-li-hover;
      transform-origin: bottom;
      transition: all 0.5s;
    }
    li:hover::after {
      transform: scale(100%);
    }
  }
  .nav-serach-area {
    background-color: $nav-input-grey-bg;
    padding: 0.9rem 3rem 0.9rem 2rem;
    border-radius: 2rem;

    .nav-search-input {
      all: unset;
    }
    .nav-search-input::placeholder {
      color: rgb(96, 96, 96);
    }
  }
  .nav-tab-menu {
    position: fixed;
    width: 100%;
    padding: 2rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.828);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    li {
      transition: all 0.2s;
    }
    li:hover {
      color: rgb(0, 0, 240);
    }
  }
  .nav-open {
    animation: nav-open 0.5s;
  }
  .notification-container:hover .notification-unread-count {
    transform: scale(1.3);
  }
  @keyframes nav-open {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .nav-close {
    animation: nav-close 0.5sS;
  }
  @keyframes nav-close {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .shadow-hard {
    box-shadow: 0rem 0.5rem 5rem 1rem rgba(0, 0, 0, 0.244);
  }
}
.nav-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.094) 0px 10px 26px;
}

/* Navbar Ends */
