.trip-category-filter-results {
  $color-primary-white: #d0d5d8;
  $color-primary-orange: #bc4e37;
  $color-primary-yellow: #f2994a;
  $color-primary-blue: #1e242a;
  $color-primary-grey: #b2b8bd;
  $bg-color-blue: #212b33;

  .filter-results-cards {
    .filter-results-card-img {
      width: 200px;
      height: 258px;
      object-fit: cover;
    }
    position: relative;

    .show-detail-text {
      padding: 0 0.75rem;
      position: absolute;
      top: 12rem;
      background-color: rgba(0, 0, 0, 0.701);
      backdrop-filter: blur(15px);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      font-weight: 400;
      color: white;
    }
    .result-card-details {
      font-weight: 600;
      .location {
        color: $color-primary-grey;
      }
      .trip-date {
        color: $color-primary-grey;
        font-weight: 200;
      }
      .trip-cost {
        color: $color-primary-orange;
      }
      .per-night {
        color: $color-primary-grey;
      }
    }
  }
  .filter-results-cards:hover .show-detail-text {
    display: flex;
  }
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .filter-results-cards {
    width: 17.188rem;
  }
}
