.trips {
  background-image: url("../../assets/images/tripsPage/body/body-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .rc-slider-rail {
    height: 10px;
    background-color: #3c4049;
  }
  .rc-slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    background-color: white;
    opacity: 1;
    border: none;
  }
  .rc-slider-track {
    background-color: #bc4e37;
    height: 10px;
  }
}
