@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.booking-details {
  padding: 15px;
  $color-orange: #bc4e37;
  font-family: "Poppins", sans-serif;
  background-image: url("../../assets/images/landingPage/background/camelbackground.jpg");
  background-size: cover;

  h1 {
    font-size: 25px;
  }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 50px;
    }
  }
}
p {
  color: #b3b8bc;
}
span {
  color: white;
}
.details-container {
  padding: 2rem;
  border-radius: 2rem;
  background: rgba(32, 13, 3, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.26);
  box-shadow: 0px 115px 65px -40px rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(10px);
  border-radius: 37px;
}
@media screen and (min-width: 1024px) {
  .booking-details {
    padding: 0;
  }
}
