/* Footer */

$color-grey-footer: #73797e;
body {
  position: relative;
}
footer {
  color: $color-grey-footer;
  background-position-y: 80%;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background: linear-gradient(
      90deg,
      #051a25 -7.55%,
      rgba(5, 26, 37, 0.47) 54.06%,
      #051a25 115.66%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.footer-links:hover {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* Footer */
