.reset-password-page {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/landingPage/background/camelbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
