.trip-details {
  $color-grey-v1: #b4bbc1;
  $color-orange: #bc4e37;
  $bg-orange-gradient: linear-gradient(
    241.6deg,
    #e6664c -19.43%,
    #8c2009 109.14%
  );
  .trip-highlights-container {
    h2 {
      color: $color-orange;
    }
  }
}
