$font-color-grey: #444a61;

.account-details {
  header {
    .grey-text {
      color: $font-color-grey;
    }
.name-field{
  padding: 0;
}
    .edit-details {
      background: #ffffff8b;
      p {
        background-color: rgba(255, 255, 255, 0.588);
        padding: 14px 25px;
        border-radius: 0.6rem;
      }
    }

    .profile-img-container {
      position: relative;
      border-radius: 1rem;

      .user-profile-img {
        background-size: cover;
        background-repeat: no-repeat;
      }
      .change-profile-img {
        background: rgba(0, 0, 0, 0.597);
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
