.trips {
  header {
    .heading-main {
      margin-top: 5rem;
      font-size: 37.5px;
      text-align: center;
      background: linear-gradient(
        315deg,
        #ffffff,
        rgb(255, 255, 255) 50%,
        #bc4e37 0%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-align: center;
    }
    @media screen and (min-width: 500px) {
      .heading-main {
        font-size: 60px;
      }
    }
    @media screen and (min-width: 1500px) {
      .heading-main {
        font-size: 75px;
      }
    }
    padding-top: 8.5rem;
    h4 {
      font-weight: 700;
    }
    slect:focus,
    :focus {
      outline: none;
    }
    input::placeholder {
      color: black;
    }
    h1 {
      font-size: 37.5px;
      text-shadow: 0.1rem 0.1rem 0.3rem black;
      color: white;
      text-align: center;
    }
    @media screen and (min-width: 500px) {
      h1 {
        font-size: 60px;
      }
    }
    @media screen and (min-width: 1500px) {
      h1 {
        font-size: 75px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    header {
      padding-top: 8rem;
    }
  }
}
