.trip-details {
  $color-grey-v1: #b4bbc1;
  $color-orange: #bc4e37;
  $bg-orange-gradient: linear-gradient(
    241.6deg,
    #e6664c -19.43%,
    #8c2009 109.14%
  );

  .ammenities-container {
    img {
      background: #adaebb3b;
    }
    h2 {
      font-size: 2rem;
      color: $color-orange;
      @media screen and (min-width: 768px) {
        font-size: 3.2rem;
      }
    }
  }
}
